.get-the-app
.background-image
.seen
  = render 'posts/partials/posts'
.new-posts
.posts-wrapper
  - if @posts.any?
    .posts{data: {'last-post' => @posts.last.attributes_before_type_cast["created_at"]}}
