html
  font-family: 'Lato', 'sans-serif'

body
  background: black
  color: white

  #wrapper
    padding: 7em 1em 2em 1em

    img
      width: 280px
      display: block
      margin: 0 auto

    h1
      font-weight: 300
      text-align: center
