@font-face
  font-family: 'Proxima Nova Light'
  src: font-url('ProximaNova-Light.otf')

.get-the-app
  content: ""
  position: fixed
  left: 0
  top: 0
  right: 0
  z-index: 3
  display: block
  height: 100%  
  background-size: cover
  background-image: image-url('get_app.png')
  display: none

.background-image
  content: ""
  position: fixed
  left: 0
  right: 0
  z-index: -1
  display: block
  height: 100%  
  background-size: cover 
  -webkit-filter: blur(40px)
  -moz-filter: blur(40px)
  -o-filter: blur(40px)
  -ms-filter: blur(40px)
  filter: blur(40px)
  
.seen, .new-posts
  display: none
  
.posts-wrapper
  height: 100%

.posts
  height: 100%
  font-family: 'Proxima Nova Light' sans-serif
  font-size: 18px
  font-weight: lighter

  .image-box
    height: 100%
    text-align: center
    
  .user
    height: 15%
    background-color: white
    overflow: hidden
    margin: auto
    margin-top: 3%
    position: relative
    
  .left-side
    height: 100%
    float: left
    padding: 0.8em 0 0 0.8em
    
  .right-side
    height: 100%
    overflow: hidden
    padding: 1.4em 0 0 0.5em

  .user-picture
    text-align: left
    height: 45%
    img
      height: 100%
      width: auto
      border-radius: 50%
      
  .user-name
    text-align: left
    color: #545454
    font-size: 1em

  .post-text
    color: #3b3b3b
    font-size: 1.28em
    text-align: left
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    margin-top: 0.2em
    
  .image-wrapper
    display: inline-block
    max-width: 80%
    height: 75%
    margin: auto
    overflow: hidden
    text-align: center
    position: relative
    
  .post-image
    height: 100%
    width: auto
    
  .likes-wrapper
    position: absolute
    bottom: 2%
    left: 10%
    color: #ffffff
    
  .comments-wrapper
    position: absolute
    bottom: 2%
    right: 10%
    font-size: 1em
    
  .stat-number
    color: white
    float: left
    margin-top: 0.75em
    margin-right: 0.2em
    
  .stat-description
    color: #d6d6d6
    float: left
    margin-top: 0.75em
    
  .posts-icon
    width: 2.5em
    height: auto
    float: left
    margin-right: 0.4em
    
@media all and (min-height: 800px)
  .posts
    font-size: 26px

@media all and (min-height: 1000px)
  .posts
    font-size: 28px
    
@media all and (min-height: 1100px)
  .posts
    font-size: 32px
    
@media all and (min-height: 1250px)
  .posts
    font-size: 38px
    
@media all and (min-height: 1400px)
  .posts
    font-size: 40px
    
@media all and (min-height: 1700px)
  .posts
    font-size: 48px