.posts
  height: 100%
  
  .image-box
    height: 100%
    margin: auto
    text-align: center
    
    .user
      height: 72px
      
    .post-image
      max-height: 80%
      max-width: 960px
      
  .user-info-wrapper
    text-align: center
  
  .user-info
    overflow: hidden
    display: inline-block
    margin-top: 10px
      
  .user-name
    margin: 20px 0 30px 10px
    float: left
    
  .user-picture
    float: left
    img
      border-radius: 50%
  